/* Override Bootstrap styles */
.navbar {
  margin-bottom: 0;
  border: none;
  background: #333;
  /*width: 100%;*/
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: #9d9d9d;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

/* End Bootstrap style overrides */
body {
  color: #514b4b;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

*:focus {
  /*border: none;*/
  outline: none;
}

.about-me {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-me-block {
  border-bottom: 5px solid #333;
  border-radius: 0 0 5px 5px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  background: white;
}

.background-black {
  background: #333;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.color-white {
  color: white;
}

.contact-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-info i {
  color: #333;
  margin: 10px;
}

.contact-info li {
  display: inline-block;
  margin: 5px;
  color: #333;
  border: thin solid red;
  width: 110px;
  font-size: 12px;
}

.contact-info a {
  color: #333;
  text-decoration: none;
}

.contact-info a:hover, .contact-info i:hover {
  color: gray;
}

.display {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #333;
}

.display img {
  width: 75%;
}

.display-text {
  text-align: justify;
  margin-top: 7%;
}

.display-text h2 {
  font-size: 16px;
  color: white;
}

hr {
  border-top: 2px solid #333;
}

.margin-top-none {
  margin-top: 0;
}

.margin-auto {
  margin: 0 auto;
}

.padding-none {
  padding: 0;
}

.prev-work {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.prev-work-item {
  margin: 0 5px 5px 0;
  width: calc((100% / 2) - 5px);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.prev-work-item:nth-child(2n+2) {
  margin-right: 0;
}

.prev-work-item a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  margin: 0;
  color: white;
  font-size: 16px;
}

.prev-work-item a p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .about-me {
    margin-top: 20px;
    text-align: center;
  }
  .about-me-block {
    border-radius: 0;
    /*border: 1px solid #9d9d9d;*/
    display: inline-block;
    padding: 0px;
    margin-right: 20px;
    width: calc((100% / 3) - 30px);
    vertical-align: top;
    text-align: left;
  }

  .about-me-block:last-of-type {
    margin-right: 0;
  }

  .about-me-block h2 {
    font-size: 20px;
  }

  .contact-icon {
    font-size: 40px;
  }

  .display {
    padding-left: 25px;
    padding-right: 25px;
    background: url("../images/computer-1280.jpeg");
  }

  .display-text {
    margin-top: 3%;
    /*padding-left: 25px;
    padding-right: 25px;*/
  }

  .display-text h2 {
    text-align: left;
    font-size: 18px;
    line-height: 1.3em;
  }

  .display-text {
    text-align: justify;
  }

  .prev-work {
    text-align: left;
  }

  .prev-work-item, .prev-work-item:nth-child(2n+2) {
    margin: 10px 10px 0 0;
    width: calc((100% / 3) - 10px);
    position: relative;
  }

  .prev-work-item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .prev-work-item a {
    font-size: 14px;
  }

  .prev-work-item:hover {
    background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
      ),
      url(pic);
  }
}

@media screen and (min-width: 992px) {
  .about-me {
    /*margin-top: -40px;*/
  }

  .about-me-block {
    border: 1px solid #9d9d9d;
    padding: 10px;
    box-shadow: 0 0 5px rgba(50,50,50,0.8);
  }

  .about-me-block h2 {
    margin-top: 5px;
  }

  .about-me-block p {
    margin-bottom: 30px;
  }

  .display {
    margin-bottom: -40px;
  }

  .display-text {
    margin-top: 7%;
  }

  .prev-work-item a {
    font-size: 20px;
  }
}
