/*
Colors:
#9E9828 //yellow
#A64527 //orange
#7E2921 //red
#313957 //blue
#B2A293 //beige
#332623 //black
*/

/* Override Bootstrap styles */
.container-fluid {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  border: none;
  background: transparent;
  transition: background .2s;
  /*width: 100%;*/
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: #adc0d2;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

/* End Bootstrap style overrides */

body {
  color: #777;
  background: white;
  font-family: 'Open Sans', sans-serif;
}

footer {
  padding: 80px 0 40px;
}

.footer {
  background: #332623;

}

h1, h2, h3, h4, h5 {
  color: #313957;
}

h2.text-center {
  margin-top: 70px;
}

*:focus {
  /*border: none;*/
  outline: none;
}

.about-me {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-me-block {
  /*border-bottom: 5px solid #333;*/
  border-radius: 0 0 5px 5px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  background: white;
}

.background-black {
  background: #333;
  color: white;
}

canvas {
  width: 100%;
  padding: 20px 0;
}

.color-white {
  color: white;
}

.contact {
  margin: 0;
}

.arcade-rules,
.contact-info,
.links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact-info a,
.links-list a {
  color: white;
  text-decoration: none;
}

.arcade-rules i,
.arcade-rules p,
.contact-info i,
.links-list i {
  color: white;
}

.arcade-rules i,
.contact-info i,
.contact-info p {
  display: inline;
}

.arcade-rules li,
.contact-info li,
.links-list li {
  /*display: inline-block;*/
  margin: 5px;
  color: #313957;
  /*border: thin solid red;*/
  /*width: 110px;*/
  font-size: 12px;
}

.contact-info a:hover,
.contact-info i:hover,
.links-list a:hover,
.links-list i:hover {
  color: gray;
}

.display {
  background-position: bottom left;
  background-size: cover;
  padding: 15px;
  margin: 0;
  height: 100vh;
  text-align: center;
}

/*.display * {
  border: thin solid red;
}*/

.display-container {
  text-shadow: 1px 1px black;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}

.display img {
  display: none;
  width: 75%;
  /*margin: auto;*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.display-text {
  position: relative;
  height: 100vh;
}

.display-text h2 {
  font-size: 5vw;
  font-weight: 700;
  color: white;
}

.header {
  height: 100vh;
  background: linear-gradient(
    rgba(62,42,36,0.7),
    rgba(62,42,36,0.7)
    ), url("../images/city_scape-sm.jpg");
  background-size: cover;

}

.header-inline-block {
  display: inline-block;
}

hr {
  margin: 40px 0;
  border-top: 1px solid #313957;
}

.margin-top-none {
  /*margin-top: 0;*/
}

.margin-auto {
  margin: 0 auto;
}

.padding-none {
  padding: 0;
}


.portfolio {
  margin: 100px 0;
}

.prev-work {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.prev-work-item {
  margin: 0 5px 5px 0;
  width: calc((100% / 2) - 5px);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.prev-work-item:nth-child(2n+2) {
  margin-right: 0;
}

.prev-work-item:hover {
  transform: scale(1.05, 1.05);
}

.prev-work-item a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  margin: 0;
  color: white;
  font-size: 16px;
}

.prev-work-item a p {
  margin: 0;
}

.section-padding-bottom {
  padding-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .about-me {
    margin-top: 20px;
    padding-left: 15px;
    /*text-align: center;*/
  }
  .about-me-block {
    border-radius: 0;
    /*border: 1px solid #9d9d9d;*/
    display: inline-block;
    margin-right: 20px;
    width: calc((100% / 3) - 20px);
    vertical-align: top;
    text-align: left;
    border: 3px solid #9d9d9d;
    padding: 10px 10px 10px 10px;
    /*box-shadow: 0 0 5px rgba(50,50,50,0.8);*/
  }

  .about-me-block:last-of-type {
    margin-right: 0;
  }

  .about-me-block h2 {
    font-size: 20px;
  }

  .contact-icon {
    font-size: 40px;
  }

  .display {
    /*padding: 70px 15px 50px;*/
    margin: 0;
    background: transparent;
    /*background: url("../images/computer-1280.jpeg");*/
  }

  .display img {
    display: block;
  }

  .display-text h2 {
    font-size: 3vw;
  }

  .header {
    padding-bottom: 50px;
    margin-bottom: 60px;
    background: linear-gradient(
      rgba(62,42,36,0.7),
      rgba(62,42,36,0.7)
      ), url("../images/city_scape-md.jpg");    -webkit-background-size: cover;
    background-size: cover;
    background-position: left bottom;
  }

  .prev-work {
    text-align: left;
  }

  .prev-work-item, .prev-work-item:nth-child(2n+2) {
    margin: 10px 10px 0 0;
    width: calc((100% / 4) - 11px);
    position: relative;
  }

  .prev-work-item:nth-child(4n + 4) {
    margin-right: 0;
  }
  .prev-work-item a {
    font-size: 14px;
  }

  /*.prev-work-item:hover {
    background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
      ),
      url(pic);
  }*/
}

@media screen and (min-width: 992px) {
  .about-me-block h2 {
    margin-top: 5px;
  }

  .display {
    margin-bottom: -60px;
  }

  .header {
    background: linear-gradient(
      rgba(62,42,36,0.7),
      rgba(62,42,36,0.7)
      ), url("../images/city_scape.jpg");
    background-position: bottom left;
    background-size: cover;

  }

  .prev-work-item a {
    font-size: 20px;
  }
}
